@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto Mono", monospace; }

#root {
  width: 100vw;
  height: 100vh; }
.Loader__loader___1_xS9:after {
  content: "...";
  position: absolute;
  width: 0;
  overflow: hidden;
  animation: Loader__ellipsis____XOLl steps(4, end) 1s infinite; }

@keyframes Loader__ellipsis____XOLl {
  to {
    width: 2.4em; } }
.App__app___Gqefs {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }

.App__content___3Btz6 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.App__welcome___24zTW {
  width: 600px;
  text-align: center; }

.App__icon___2GamF {
  display: inline-block;
  vertical-align: middle;
  width: 2em;
  height: 2em; }

.App__balance___1EexN {
  font-size: 2.5em; }

.App__link___3gI32 {
  color: inherit;
  text-decoration: underline; }

.Footer {
  -ms-flex-positive: 0;
  flex-grow: 0;
  width: 600px;
  margin: 0 auto;
  -ms-flex-pack: center;
  justify-content: center; }
.Setup__container___1jAGP {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden; }
.Token__container___-FYDP {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column; }

.Token__link___2T5bj {
  color: inherit;
  text-decoration: underline; }

.InlineForm {
  width: 375px !important; }
.SinceDate__container___2nO1W {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column; }
.SimpleForm__container___1xPld {
  padding: 16px; }
  .SimpleForm__container___1xPld .Input {
    width: 60px !important;
    margin-bottom: 0 !important; }
    .SimpleForm__container___1xPld .Input input {
      text-align: center; }

.SimpleForm__containerDisabled___232q4 {
  opacity: 0.25;
  position: relative; }
  .SimpleForm__containerDisabled___232q4:hover:before {
    position: absolute;
    height: 100%;
    width: 2px;
    top: 0;
    left: 0;
    background-color: #08e; }

.SimpleForm__inline___2FiOM {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 16px; }
  .SimpleForm__inline___2FiOM:last-child {
    margin-bottom: 0; }

.SimpleForm__faded___34t4B {
  color: rgba(0, 0, 0, 0.25);
  position: absolute;
  right: -165px;
  bottom: 0;
  width: 150px; }

.SimpleForm__label___olmNN {
  position: relative;
  margin-left: 15px; }
.Workload__container___392xK {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column; }
  .Workload__container___392xK .Button {
    margin-top: 20px !important; }

.Workload__link___3jgU5 {
  color: inherit;
  text-decoration: underline; }
