@import '../../styles/mixins';

.app {
  @include full();
  display: flex;
  flex-direction: column;
}

.content {
  @include fullCentered();
}

.welcome {
  width: 600px;
  text-align: center;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 2em;
  height: 2em;
}

.balance {
  font-size: 2.5em;
}

.link {
  @include link();
}

:global(.Footer) {
  flex-grow: 0;
  width: 600px;
  margin: 0 auto;
  justify-content: center;
}
